.user {
  position: relative;
  background-color: white;
  padding: 13px;
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center;
  transition: 1s all;
  box-sizing: border-box;
}

.user:hover {
  cursor: pointer;
  color: #ff9c65;
  fill: #ff9c65;
  background: rgb(95, 95, 95);
  transform: scale(1.1);
}

.user img {
  width: 120px;
  height: 120px;
  margin: 0px 13px;
  border-radius: 50%;
}

.user h3 {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 5px;
}

div.userinfo {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

div.userinfogeral {
  position: relative;
}

div.userinfogeral div {
  display: flex;
  flex-direction: column-reverse;
  line-height: 20px;
}

.user svg {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 580px;
  bottom: 49px;
}
