@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body {
    margin: auto;
    width: 800px;
    background-color: #848382;
}

a {
  text-decoration: none;
  color: inherit;
}

svg#svgbackground {
    position: absolute;
    opacity: 0.06;
    right: 0px;
}

header {
    width: 157px;
    font-size: 25px;
    display: inline-flex;
    background: #FF9C65;
    justify-content: center;
    color: white;
    margin: 50px 0 50px;
    border-radius: 10px;
    padding: 10px;
}

header h1{
    font-family: 'Roboto Slab', serif;
    margin-left: 5px;
}
header svg{
    fill: white;
}

div#barradepesquisa{
    position: relative;
    width: 820px;
    height: 40px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

div#barradepesquisa input {
    height: 95%;
    width: 600px;
    background: #FFFFFF;
    padding: 0 0 0 10px;
}

input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

div#barradepesquisa button {
    height: 103.5%;
    width: 206px;
    font-weight: bold;
    margin-left: -4px;
    border: 0 none;
    background: #FF9C65;
    transition: 2s active;
}

div#barradepesquisa button:active{
    top: 2px;
    background: #ff5900e7;
    color: white;
}

.user {
    position: relative;
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    display: inline-flex;
    transition: 1s all;
    max-height: 80px;
}

.user:hover {
    color: #FF9C65;
    fill: #FF9C65;
    background: rgb(95, 95, 95);
    transform: scale(1.15);
}

.user img{
    width: 80px;
    height: 80px;
    border-radius: 40%;
}

.user h2 {
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

.userinfo {
    position: relative;
    margin: 12px 0 0 20px;

}

.user svg{
    position: relative;
    height: 14px;
    width: 14px;
    left: 650px;
    bottom: 33px;
}

.user:hover{
    cursor: pointer;
}


.loader {
    position: absolute;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    left: 45%;
    top: 45%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    visibility: hidden;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .invisible {
    display: none;
  }
